@import "./style.scss";
@import "./reset.scss";
@import "./mixin.scss";


@include lf-move-ani;
@include rt-move-ani;
@include lf-slide-ani;
@include rt-slide-ani;

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes pulse {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0.7;
    }
}

@keyframes fill {
    to {
        stroke-dashoffset: 0;
    }
}



.container {
    width: $width-wide;
    max-width: $break-large;
    margin: 0 auto;
    padding: 0 10px;
}

/* =====  header  ===== */
.logo-main-menu{
    background-color: white;

    @include responsive(large-screens) {
        height: 120px;
    }

    .logo-main-menu-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100px;

        @include responsive(large-screens) {
            height: 120px;
        }

        .logo {
            
            a {
                width: 80px;
                height: 80px;
                padding: 10px;

                @include responsive(large-screens) {
                    width: 150px;
                    height: 120px;
                }

                img {

                    @include responsive(large-screens) {
                        height: 100%;
                    }
                }
            }
        }
        .mainmenu {
            display: none;
            position: fixed;
            left: 0; top: 100px; 
            width: $width-wide;
            height: 100%;
            z-index: 10;
            transition: all 0.3s ease-in;

            @include responsive(large-screens) {
                position: relative;
                top: 0;
                width: 480px;
                display: block;
            }

            .gnb {
    
                @include responsive(large-screens) {
                    display: block;
                    display: flex;
                    align-items: center;
                }

                li {
                    position: relative;
                    height: 100px;
                    text-align: center;
                    overflow: hidden;

                    &:nth-child(1) {
                        margin-top: 100px;

                        @include responsive(large-screens) {
                            margin-top: 0;
                        }
                    }
                
                    a {
                        position: relative; 
                        height: 100px;
                        line-height: 100px;
                        font-size: $mobile-cal-30-font;
                        text-align: center;
                        color: $font-color-main;
                        
                        @include responsive(large-screens) {
                            font-size: $desktop-menu-font;
                        }
                
                        &::after {
                            content: '';
                            position: absolute;
                            left: 0; top: 0;
                            height: 100%;
                            background-color: $intro-bg-color;
                            transform: translateX(-100%);
                            transition: transform 0.5s ease;
                            opacity: 0;
                            z-index: -1;
                        }

                        &::before {
                            content: '';
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            width: 100%;
                            height: 2px; 
                            background-color: #39B2C5; 
                            transform: scaleX(0); 
                            transition: transform 0.5s ease; 
                        }
                
                        &:hover {
                            font-weight: bold;
                            color: #FBB92F;
                            
                            &::after {
                                width: $width-wide;
                                opacity: 0.8;
                                transform: translateX(0);
                            }

                            &::before {
                                transform: scaleX(1); 
                            }

                            @include responsive(large-screens) {
                                text-decoration: none;
                            }
                        }

                        @include responsive(large-screens) {
                            height: 120px;
                            line-height: 120px;

                            &::after {
                                display: none; 
                            }
                        }
                    }
                
                    &:hover::before {
                        width: $width-wide;
                        opacity: 0.8;
                        transform: translateX(0);
                    }
                
                    @include responsive(large-screens) {
                        width: 120px;
                        height: 120px;
                        line-height: 120px;
                        font-size: $desktop-menu-font;
                        font-weight: bold;
                    }
                }
            }
        }

        .mainmenu.active { // 액티브 클래스
            display: block;
            background-color: #97F2FF;
        }
    
        .mobile-menu {   
    
            @include responsive(large-screens) {
                display: none;
            }

            .mobile-btn {
                position: relative; 
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 10px;
                width: 30px;
                height: 32px;
                z-index: 1;
                cursor: pointer;
                

                span {
                    display: block;
                    width: $width-wide;
                    height: 4px;
                    border-radius: 10px;
                    background-color: $font-color-main;
                    transition: all 0.5s ease;

                    &:nth-child(2) {
                        width: 28px;
                    }
                }
            }

            .mobile-btn.close { // 버튼 이벤트 클래스
                span {
                    
                    &:nth-child(1) {
                        transform: rotate(45deg);
                        position: absolute;
                        left: 0; top: 50%;
                    }

                    &:nth-child(2) {
                        display: none;
                    }

                    &:nth-child(3) {
                        transform: rotate(-45deg);
                        position: absolute;
                        left: 0; top: 50%;
                    }
                }
            }
        }
    } // logo-main-menu-box
} // header


/* =====  main  ===== */
main {

/* === intro === */
    .intro {
        position: relative;
        height: 540px;
        overflow: hidden;
        background-color: $intro-bg-color;

        @include responsive(large-screens) {
            height: 1024px;
        }

        .intro-txt {
            position: absolute;
            top: 50%; left: 50%;
            transform: translate(-50%, -50%);
            color: $font-color-main;
            z-index: 3;
            
            
            h2 {
                font-size: $mobile-title-main;
                -webkit-animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
                animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;

                @include responsive(large-screens) {
                    font-size: $desktop-content-main;
                }
            }
        }

        @-webkit-keyframes tracking-in-expand-fwd {
            0% {
            letter-spacing: -0.5em;
            -webkit-transform: translateZ(-700px);
                    transform: translateZ(-700px);
            opacity: 0;
            }
            40% {
            opacity: 0.6;
            }
            100% {
            -webkit-transform: translateZ(0);
                    transform: translateZ(0);
            opacity: 1;
            }
        }
        @keyframes tracking-in-expand-fwd {
            0% {
            letter-spacing: -0.5em;
            -webkit-transform: translateZ(-700px);
                    transform: translateZ(-700px);
            opacity: 0;
            }
            40% {
            opacity: 0.6;
            }
            100% {
            -webkit-transform: translateZ(0);
                    transform: translateZ(0);
            opacity: 1;
            }
        }

        .intro-img {

            img {

                &:nth-child(3),
                &:nth-child(4),
                &:nth-child(8),
                &:nth-child(9),
                &:last-child {
                    display: none;
    
                    @include responsive(large-screens) {
                        display: block;
                    }
                }
            }

            .lf-bird1 {
                position: absolute;
                top: 10%; right: 30%;
                width: 37px; height: 35px;
                animation: rt-move 10s linear infinite;
    
                @include responsive(large-screens) {
                    position: absolute;
                    left: 15%;
                    width: 87px; height: 83px;
                    animation: rt-move 20s linear infinite;

                }
            }
    
            .lf-bird2 {
                position: absolute;
                top: 15%; right: 12%;
                width: 25px; height: 23px;
                animation: rt-move 10s linear infinite;
    
                @include responsive(large-screens) {
                    position: absolute;
                    left: 28%;
                    width: 58px; height: 55px;
                    animation: rt-move 20s linear infinite;

                }
            }
            
            .rt-cloud1 {
    
                @include responsive(large-screens) {
                    position: absolute;
                    top: 10%; right: 23%;
                    width: 160px; height: 75px;
                    animation: rt-move 20s linear infinite;
                }
            }
    
            .rt-cloud2 {
    
                @include responsive(large-screens) {
                    position: absolute;
                    top: 17%; right: 12%;
                    width: 134px; height: 79px;
                    animation: rt-move 20s linear infinite;
                }
            }
    
            .lf-cloud1 {
                position: absolute;
                top: 15%; left: 10%;
                width: 60px; height: 29px;
                animation: lf-move 10s linear infinite;
    
                @include responsive(large-screens) {
                    position: absolute;
                    top: 34%;
                    width: 140px; height: 81px;
                    animation: lf-move 20s linear infinite;
                }
            }
    
            .lf-cloud2 {
                position: absolute;
                top: 7%; left: 25%;
                width: 52px; height: 31px;
                animation: lf-move 10s linear infinite;
    
                @include responsive(large-screens) {
                    position: absolute;
                    top: 27%; left: 20%;
                    width: 160px; height: 75px;
                    animation: lf-move 20s linear infinite;
                }
            }

            .sun-box {
                position: absolute;
                top: 50%; left: 50%;
                transform: translate(-50%, -50%);
                width: 88.88888888888889%; height: 295px;

                @include responsive(large-screens) {
                    width: 724px; height: 682px;
                }

                .sun {
                    display: block;
                    width: 100%; height: 100%;
                    animation: spin 5s linear infinite, pulse 1.5s infinite;
                }
            }
    
            .rt-bird1 {
    
                @include responsive(large-screens) {
                    position: absolute;
                    top: 35%; right: 20%;
                    width: 60px; height: 57px;
                    animation: lf-move 20s linear infinite;
                }
            }
    
            .rt-bird2 {
    
                @include responsive(large-screens) {
                    position: absolute;
                    top: 30%; right: 7%;
                    width: 90px; height: 86px;
                    animation: lf-move 20s linear infinite;
                }
            }
            
            .f-lf-cloud1 {
                position: absolute;
                top: 67%; left: -17%;
                width: 129.1666666666667%; height: 250px;
                transform: rotate(5deg);
                z-index: 1;
                animation: rt-move 3s ease-in forwards;

                @include responsive(large-screens) {
                    position: absolute;
                    top: 58%; left: -39%;
                    width: 1170px; height: 507px;
                    transform: rotate(16deg);
                }

                @media (min-width: 1920px) {
                    position: absolute;
                    top: 57%; left: -29%;
                    transform: rotate(10deg); 
                }
            }
    
            .f-lf-cloud2 {
                position: absolute;
                top: 53%; left: -40%;
                width: 131.1111111111111%; height: 215px;
                transform: rotate(15deg);   
                animation: rt-move 3s ease-in forwards;
    
                @include responsive(large-screens) {
                    position: absolute;
                    top: 55%; left: -2%;
                    width: 1178px; height: 535px;
                }

                @media (min-width: 1920px) {
                    position: absolute;
                    left: 11%;
                    transform: rotate(10deg);   
                }
            }
    
            .f-rt-cloud1 {
                position: absolute;
                top: 48%; left: 25%;
                width: 156.9444444444444%; height: 300px;
                transform: rotate(12deg);  
                z-index: 2;
                animation: lf-move 3s ease-in forwards;
    
                @include responsive(large-screens) {
                    position: absolute;
                    left: 33%;
                    width: 1655px; height: 675px;
                    transform: rotate(5deg); 
                }

                @media (min-width: 1920px) {
                    position: absolute;
                    left: 38%;
                }
            }
    
            .f-rt-cloud2 {

                @include responsive(large-screens) {
                    position: absolute;
                    top: 58%; right: -19%;
                    width: 700px; height: 500px;
                    transform: rotate(-30deg); 
                    animation: lf-move 3s ease-in forwards;
                }
            }
        }
    } // intro
    
/* === about me === */
    .about-me {
        background: linear-gradient($aboutme-bg-color1 20%, $aboutme-bg-color2 55%, $aboutme-bg-color3);

        .about-me-title {
            padding-top: 30px;
            color: $font-color-main;

            @include responsive(large-screens) {
                padding-top: 50px;
                font-size: 48px;
            }
        }

        .introduce-box {
            height: 1440px;

            @include responsive(large-screens) {
                height: 1300px;
            }
            
            .desk-img-box {
                margin-top: 35px;

                @include responsive(large-screens) {
                    margin-top: 100px;
                }
                
                .file-me-desk {
                    position: relative;
                    width: $width-wide;
                    height: 450px;
                    overflow: hidden;

                    @include responsive(large-screens) {
                        overflow: visible;
                    }

                    .file-me-box {
                        position: absolute;
                        left: 50%; 
                        width: $width-wide;
                        transform: translateX(-50%);
                        text-align: center;
                        z-index: 1;
                        opacity: 0;
                        transition: all 3s;

                        @include lf-slide-ani(-50%, 0%);
                        animation: none;

                            @include responsive(large-screens) {
                                position: absolute;
                                left: 25%; top: 5%;
                                width: 460px;
                                @include lf-slide-ani;
                        }

                        .file {
                            height: 330px;

                            @include responsive(large-screens) {
                                height: 715px;
                            }
                            
                        }
    
                        .me {
                            position: absolute;
                            left: 50%; top: 33% ;
                            transform: translateX(-50%);
                            width: 125px;
                            background-color: #DCE8EF;

                            @include responsive(large-screens) {
                                width: 316px;
                            }
                        }
    
                        h3 {
                            position: absolute;
                            left: 50%; bottom: 15% ;
                            transform: translateX(-50%);
                            width: 125px;
                            font-family: $font-sub;

                            @include responsive(large-screens) {
                                position: absolute;
                                bottom: 12% ;
                                width: 300px;
                                font-size: 30px;
                                text-align: left;
                            }
    
                            span {
                                font-family: $font-main;
                            }
                        }
                    }

                    .desk-wrapper {
                        position: absolute;
                        top: 220PX;
                        width: $width-wide;

                        @include responsive(large-screens) {
                            position: absolute;
                            top: 480PX;
                        }

                        .desk-img {
                            width: $width-wide;
                            height: 200px;
                            background: url(../images/desk.svg) no-repeat center;
                            background-size: contain;

                            @include responsive(large-screens) {
                                height: 530px;
                            }
                        }
                    }

                    .desk-obj {
                        
                        .cup {
                            position: absolute;
                            left: 11%; bottom: 20%;
                            width: 40px;
                            height: 55px;
                            z-index: 1;

                            @include responsive(large-screens) {
                                position: absolute;
                                left: 7%; bottom: -90%;
                                width: 100px;
                                height: 150px;
                            }
                        }

                        .pencil {
                            position: absolute;
                            right: 25%; bottom: 18%;
                            width: 20px;
                            height: 65px;
                            transform: rotate(-60deg);
                            z-index: 2;

                            @include responsive(large-screens) {
                                position: absolute;
                                left: 35%; bottom: -110%;
                                width: 40px;
                                height: 200px;
                            }

                            &:last-child {
                                position: absolute;
                                right: 11%; bottom: 22%;
                                transform: rotate(-20deg);

                                @include responsive(large-screens) {
                                    position: absolute;
                                    left: 43%; bottom: -90%;
                                }
                            }
                        }
                    }
                    
                    .file-me-box-ani {  // 애니메이션 적용을 위한 클래스
                        animation: lf-slide 2s forwards, return-to-position 1s ease-in-out 2s forwards; 
                        opacity: 1;

                        @include responsive(large-screens) {
                            animation: lf-slide 2s;
                        }
                    }

                    @keyframes return-to-position {
                        0% {
                            transform: translateX(0);
                        }
                        100% {
                            transform: translateX(-50%); 
                        }
                    }
                }

                .folder-box {
                    position: relative;
                    width: 100%;
                    height: 1000px;

                    @include responsive(large-screens) {
                        height: 600px;
                    }

                    .folders {

                        .box { // str-box,  endeavor-box, vision-box
                            position: relative;
                            width: $width-wide;
                            height: 250px;
                            max-height: 300px;
                            margin-bottom: 50px; 
                            opacity: 0;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            
                            @include lf-slide-ani(-100%, 0%);
                            animation: none;

                            @include responsive(large-screens) {
                                margin-bottom: 0;
                                @include lf-slide-ani(-150%, -50%);
                            }

                            &:nth-child(2) {
                                @include rt-slide-ani (100%, 0%);

                                @include responsive(large-screens) {
                                    @include rt-slide-ani (0%, -50%);
                                }
                            }

                            img,
                            div {
                                opacity: 0;
                                transition: opacity 1.5s;
                            }

                            img {
                                width: $width-wide;
                                height: inherit;
                            }

                            div { //str-txt, endeavor-txt, vision-txt
                                position: absolute;
                                width: 335px;
                                height: 240px;
                                padding: 0 35px;
                                z-index: 6;

                                @include responsive(large-screens) {
                                    width: $width-wide;
                                }

                                h3 {
                                    font-size: $mobile-cal-16-font;
                                    padding-bottom: 10px;

                                    @include responsive(large-screens) {
                                        font-size: 24px;
                                    }
                                }

                                p {
                                    height: 180px;
                                    font-size: $mobile-cal-font;
                                    overflow: scroll;

                                    @include responsive(large-screens) {
                                        height: 288px;
                                        font-size: 18px;
                                        overflow: hidden;
                                    }
                                }
                            }
                        } // str-box,  endeavor-box, vision-box

                        .str-box {

                            @include responsive(large-screens) {
                                position: absolute;
                                top: -95px; left: 82%;
                                width: 340px;
                            }

                            .str-txt {

                                p {
                                    font-size: 20px;

                                    @include responsive(large-screens) {
                                        font-size: 28px;
                                    }
                                }
                            }
                        }

                        .endeavor-box {

                            @include responsive(large-screens) {
                                position: absolute;
                                left: 55%; top: -265px;
                                width: 330px;
                            }

                            img {
                                
                                @include responsive(large-screens) {
                                    display: none;
                                }
                            }

                            .folder-second {
                                display: none;

                                @include responsive(large-screens) {
                                    display: block;
                                    height: 400px;
                                }
                            }

                            .endeavor-txt {

                                @include responsive(large-screens) {
                                    position: absolute;
                                    top: -25%;
                                }
                            }
                        }

                        .vision-box {

                            @include responsive(large-screens) {
                                position: absolute;
                                left: 65%; top: 150px;
                                width: 467px; height: 344px;
                            }

                            .vision-txt {

                                @include responsive(large-screens) {
                                    position: absolute;
                                    top: -5%;
                                }
                            }
                        }
                        
                        .lf-slide { // 이벤트 적용을 위한 클래스
                            animation: lf-slide 2s forwards; 
                            opacity: 1;

                        }
                        
                        .rt-slide { // 이벤트 적용을 위한 클래스 
                            animation: rt-slide 2s forwards; 
                            opacity: 1;

                        }
                    }
                }
            }
        }
    } // about me

/* === skill === */
    .skill {
        position: relative;
        background: linear-gradient($skill-bg-color1, $skill-bg-color2 48%, $skill-bg-color3 87%);

        @include responsive(large-screens) {
            height: 1000px;
        }

        .skill-title {
            padding-top: 30px;
            margin: 0 10px 80px;
            color: $font-color-sub;

            @include responsive(large-screens) {
                padding-top: 50px;
                font-size: 48px;
            }
        }

        .circle-container {

            .circle-wrapper {
                display: none;

                @include responsive(large-screens) {
                    position: absolute;
                    left: 50%; top: 50%;
                    transform: translate(-50%, -50%);
                    width: 400px; height: 400px;
                    display: block;
                }

                .circle {                    
    
                    @include responsive(large-screens) {
                        position: relative;
                        width: 400px; height: 400px;
                        border-radius: 200px;                    
                        background-color: #DCE8EF;
                    }
                }

                .circle-style {
                    position: relative;

                    p {
                        position: absolute;
                        left: 50%; top: 50%;
                        transform: translate(-50%, -50%);
                        width: 350px; height: 350px;
                        border-radius: 170px;  
                        display: flex;
                        align-items: center;
                        font-size: 20px;
                        font-family: $font-sub;
                        padding: 20px;
                        color: $font-color-sub2;
                    }
                }
            }

            .icon-list {
                font-family: $font-sub;
                padding: 0 50px;

                .item {
                    position: relative; 
                    display: grid;
                    grid-template-columns: auto 1fr; 
                    grid-template-rows: auto auto;
                    grid-gap: 10px 10px;
                    align-items: center;
                    margin-bottom: 25px;
                    border-radius: 14px;
                    z-index: 1;
                    cursor: pointer;

                    @include responsive(large-screens) {
                        position: absolute;
                        left: calc(50% - 75px);
                        top: 42.5%;
                        transform: translateX(-50%);
                        width: 150px; height: 150px;
                        border-radius: 50%;      
                        transform-origin: center center; 

                            &:nth-child(1) { transform: rotate(0deg) translate(300px) rotate(0deg); }
                            &:nth-child(2) { transform: rotate(36deg) translate(300px) rotate(-36deg); }
                            &:nth-child(3) { transform: rotate(72deg) translate(300px) rotate(-72deg); }
                            &:nth-child(4) { transform: rotate(108deg) translate(300px) rotate(-108deg); }
                            &:nth-child(5) { transform: rotate(144deg) translate(300px) rotate(-144deg); }
                            &:nth-child(6) { transform: rotate(180deg) translate(300px) rotate(-180deg); }
                            &:nth-child(7) { transform: rotate(216deg) translate(300px) rotate(-216deg); }
                            &:nth-child(8) { transform: rotate(252deg) translate(300px) rotate(-252deg); }
                            &:nth-child(9) { transform: rotate(288deg) translate(300px) rotate(-288deg); }
                            &:nth-child(10) { transform: rotate(324deg) translate(300px) rotate(-324deg); }
                    }

                    .icon {
                        width: 50px; height: 50px;
                        
                        @include responsive(large-screens) {
                            position: absolute;
                            left: 50%; top: 50%;
                            transform: translate(-50%, -50%);
                            width: 90px; height: 90px;
                            z-index: 3;
                        }
                    }

                    p {
                        font-size: 14px;
                        color: $font-color-sub3;
                        border-radius: 5px;

                        @include responsive(large-screens) {
                            display: none;  
                        }
                    }

                    .gauge {
                        position: relative;
                        width: $width-wide;
                        height: 14px;
                        grid-column: 1 / -1; 
                        border-radius: 7px;

                        @include responsive(large-screens) {
                            width: 165px; height: 165px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            border-radius: 50%;  
                            z-index: 0;
                        }

                        .gauge-txt {
                            position: absolute;
                            left: 0; top: -2px;
                            height: 100%;
                            font-size: 12px;
                            font-weight: bold;
                            line-height: 14px;
                            padding-left: 15px;
                            border-radius: 7px;
                            opacity: 0;
                            background: linear-gradient(to right, #FFF200 20%, #FBB92F 50%, #FA9F45);
                            transition: width 0.5s ease-in;

                            @include responsive(large-screens) {
                                background: none;
                                display: none;
                            }
                        }
                    }

                    .progress-circle {
                        display: none;

                        @include responsive(large-screens) {                            
                            position: absolute;
                            top: -3px; 
                            left: -3px; 
                            width: calc($width-wide + 6px); 
                            height: calc($width-wide + 6px); 
                            display: block; 
                            border-radius: 50%;
                            overflow: hidden;
                            z-index: 0; 
                        }

                        svg {
                            @include responsive(large-screens) {
                                width: 100%;
                                height: 100%;                            
                            }

                            circle {

                                @include responsive(large-screens) {                            
                                    fill: none;
                                    stroke: url(#gradient);
                                    stroke-width: 5;
                                    stroke-dasharray: 283; 
                                    stroke-dashoffset: 283; 
                                    transition: stroke-dashoffset 0.5s ease-in; 
                                }
                            }
                        }
                    }
                }

                .item-hover { // 이벤트시 적용할 스타일 
                    background-color: rgba(220, 232, 239, 0.1); 
                    transition: background-color 0.3s ease; 
                }

                .item-style { // 이벤트시 적용할 스타일 

                    span.item-data {

                        @include responsive(large-screens) {                            
                            position: absolute;
                            left: 10px; top: 10px;
                            width: 130px; height: 130px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            font-size: 35px;
                            border-radius: 50%;  
                            color: $font-color-sub3;
                            background-color: rgba($color: #3D3344, $alpha: 0.8);
                        }                        
                    }
                }
            }

            .progress-svg {
                display: none;

                @include responsive(large-screens) {                            
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    z-index: 0;                 
                }
            }
        }

        .building-box {
            
            .building {
                width: 100%; height: 205px;
                background: url(../images/building.svg) repeat-x bottom;
                opacity: 0.1;

                @include responsive(large-screens) {
                    position: absolute;
                    bottom: 0;
                    height: 400px;
                }
            }
        }
    } // skill

/* === portfolio === */
    .portfolio {
        position: relative;
        width: $width-wide;
        overflow: hidden;  
        background: linear-gradient($portfolio-bg-color1, $portfolio-bg-color2 50%, $portfolio-bg-color3);

        @include responsive(large-screens) {
            height: 1040px;
        }

        .portfolio-title {
            padding-top: 30px;
            color: $font-color-sub;

            @include responsive(large-screens) {
                padding-top: 50px;
                font-size: 48px;
            }
        }

        .portfolio-desc-box {
            display: flex;  
            transition: transform 0.5s ease; 
            width: $width-wide; 

            .portfolio-box {
                position: relative;
                width: $width-wide;
                min-width: 300px;  
                margin-right: 20px;  
                flex-shrink: 0;  
                margin-top: 35px;
                border: 2px solid #262626;
                background-color: #FFFAEE;
    
                @include responsive(large-screens) {
                    height: 750px;
                    padding: 20px 70px;
                    background-color: rgba($color: #DCE8EF, $alpha: 0.1);
                }
    
                .img-desc-box {
    
                    @include responsive(large-screens) {
                        display: flex;
                        justify-content: space-between;
                        margin-top: 25px;
                    }
    
                    .img-box {
                        width: 77.77777777777778%; height: 245px;
                        display: flex; 
                        align-items: center; 
                        justify-content: center;
                        margin: 25px auto;
                        overflow: hidden;  
    
                        @include responsive(large-screens) {
                            width: 600px; height: 600px;
                            margin: 25px 0;
                        }

                        img {
                            height: auto;
                            transition: transform 0.3s ease;
                        }
                    }
    
                    .desc-btn-box {
                        width: 77.77777777777778%;
                        margin: 25px auto;
    
                        @include responsive(large-screens) {
                            width: 580px; 
                            margin: 25px 0;
                            margin-left: 25px;
                        }
    
                        .txt-box {
                            color: $font-color-sub2;
                            height: 245px;
                            
    
                            @include responsive(large-screens) {
                                height: 530px;
                                color: $font-color-sub3;
                            }

                            .desc-title,
                            span,
                            p {
                                text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
                            }
                            
                            .desc-title {
                                font-size: 20px;
                                font-weight: normal;
    
                                @include responsive(large-screens) {
                                    font-size: 40px;
                                }
    
                                span {
                                    font-size: 18px;
    
                                    @include responsive(large-screens) {
                                        font-size: 36px;
                                    }
                                }
                            }
    
                            p {
                                font-size: 12px;
                                margin: 25px 0;
    
                                @include responsive(large-screens) {
                                    font-size: 20px;
                                    margin-top: 60px;
                                }
                            }
                        }
    
                        .btn-box {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            
                            a {
                                width: 45%; height: 26px;
                                line-height: 26px;
                                text-align: center;
                                font-size: 12px;
                                font-family: $font-sub;
                                border: 1px solid #262626;
                                border-radius: 5px;
                                color: $font-color-sub2;
                                background-color: #DCE8EF;
    
                                @include responsive(large-screens) {
                                    height: 70px;
                                    line-height: 70px;
                                    font-size: 20px;
                                    border-radius: 10px;
                                    color: $font-color-sub3;
                                    background-color: #E28787;
                                }
    
                                &:hover {
                                    font-weight: bold;
                                    color: $font-color-sub;
                                    background-color: #E28787;
    
                                    @include responsive(large-screens) {
                                        color: $font-color-main;
                                        font-size: 20px;
                                        background-color: #DCE8EF;
                                    }
                                }
                            }
                        }
                    }
                } 

                &:nth-child(1) {

                    .desc-btn-box {

                        .txt-box {

                            p {
                                margin: 15px 0;
                                line-height: 1.6;

                                @include responsive(large-screens) {
                                    margin: 25px 0;
                                    line-height: 2;
                                }

                                span {
                                    color: #bb8ae9;

                                    @include responsive(large-screens) {
                                        color: #FBB92F;
                                    }
                                }
                            }
                        }

                        .btn-box {

                            a {
                                width: 22.77777777777778%;

                                @include responsive(large-screens) {
                                    width: 150px;
                                }
                            }
                        }
                    }
                }

                &:nth-child(6),
                &:nth-child(7),
                &:nth-child(8) {

                    .desc-btn-box {

                        .btn-box {

                            a {
                                width: $width-wide;
                            }
                        }
                    }
                }

                &:nth-child(6) {

                    .img-box {
                        position: relative;
                        background-color: rgba($color: #FEF3DB, $alpha: 0.9);

                        img {

                            &:nth-child(1) {
                                z-index: 1;
                            }

                            &:nth-child(2) {
                                position: absolute;
                                width: 350px; height: 350px;
                                left: -7%; top: -5%;
                                transform: rotate(-15deg);

                                &:hover {
                                    transform: scale(1.2);
                                }
                            }

                            &:nth-child(3) {
                                position: absolute;
                                width: 500px; height: 500px;
                                right: -17%; bottom: -13%;
                                transform: rotate(10deg);
                            }
                        }
                    }
                }

                &:nth-child(7) {

                    .img-box {
                        background-color: #efeaec;
                    }
                }

                &:nth-child(8) {

                    .img-box {
                        background-color: #FFF;
                    }
                }

                .modal-container {
                    position: fixed;
                    left: 0; top: 0;
                    width: $width-wide; height: 100%;
                    background-color: rgba(38, 38, 38, 0.8); 
                    z-index: 12;
                    // opacity: 0; 
                    // visibility: hidden;
                    transition: opacity 0.3s ease, visibility 0.3s ease;

                    .modal {
                        position: absolute;
                        top: 50%; left: 50%;
                        transform: translate(-50%, -50%);
                        width: 80%; height: 80%;
                        z-index: 13;

                        @include responsive(large-screens) {
                            width: 60%; height: 60%;
                        }
                    }
                }

                .modal-container-show { // 모달 컨테이너 이벤트
                    opacity: 1; 
                    visibility: visible;
                }
            } // portfolio-box
        } // portfolio-desc-box


        .arrow {
            display: none;

            @include responsive(large-screens) {
                display: block;
                z-index: 10;
                cursor: pointer;
            }
            

            div { // lf-arrow, rt-arrow
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                width: 96px; height: 96px;
                border-radius: 48px;
                background-color: rgba($color: #A286BA, $alpha: 0.7);
                transition: transform 0.3s ease;

                img {
                    opacity: 0.9;
                }

                &:hover {
                    background-color: rgba($color: #a887c0, $alpha: 0.9);
                    border: 1px solid #3D3344;

                    img {
                        transform: scale(1.1);
                    }
                }
            }

            .lf-arrow {
                left: 15px; 
            }
    
            .rt-arrow {
                right: 15px;
            }
        }
    } // portfolio
} // main


/* ===== footer ===== */

/* === contact === */
footer {
    
    .contact {
        position: relative;
        height: 640px;
        background-color: #353434;

        @include responsive(large-screens) {
            height: 1080px;
        }

        .moon-trees {

            .moon {
                height: 276px;

                @include responsive(large-screens) {
                    height: 330px;
                }
    
                img {
                    position: relative;
                    top: 120px; left: 50%;
                    transform: translateX(-50%);
                    width: 32.77777777777778%;
                    border-radius: 50%;
        
                    box-shadow:  
                    0px 4px 20px 40px rgba(255, 255, 255, 0.1), 
                    0px 3px 30px 10px rgba(239, 202, 123, 0.25), 
                    0px 5px 27px 10px rgba(102, 167, 198, 0.25); 
    
                    @include responsive(large-screens) {
                        width: 27.77777777777778%;
                    }
                }
            }
    
            .tree-box {
                position: relative;
                height: 264px;
                bottom: 0;
                overflow: hidden;

                @include responsive(large-screens) {
                    height: 544px;
                }
    
                ul {
                    li {
    
                        &:nth-child(3),
                        &:nth-child(4),
                        &:nth-child(5),
                        &:nth-child(8),
                        &:nth-child(9) {
                            display: none;

                            @include responsive(large-screens) {
                                display: block;
                            }
                        }

                        img {
                            height: inherit;
                        }
                    }
                }
    
                .left-trees {
    
                    .tree1 {
                        position: absolute;
                        left: -4%; bottom: -15px;
                        width: 33%; height: 200px;

                        @include responsive(large-screens) {
                            position: absolute;
                            left: -4%; bottom: -15px;
                            width: 247px; height: 427px;
                        }
                    }
    
                    .tree2 {
                        position: absolute;
                        left: 15%; bottom: -16px;
                        width: 30%; height: 146px;

                        @include responsive(large-screens) {
                            position: absolute;
                            left: 6%; bottom: -16px;
                            width: 203px; height: 330px;
                        }
                    }

                    .tree3 {

                        @include responsive(large-screens) {
                            position: absolute;
                            left: 15%; bottom: -16px;
                            width: 169px; height: 298px;
                        }
                    }

                    .tree4 {

                        @include responsive(large-screens) {
                            position: absolute;
                            left: 22%; bottom: -16px;
                            width: 147px; height: 232px;
                        }
                    }

                    .tree5 {

                        @include responsive(large-screens) {
                            position: absolute;
                            left: 28%; bottom: -23px;
                            width: 148px; height: 218px;
                        }
                    }
                }
    
                .right-trees {
    
                    .tree6 {
                        position: absolute;
                        right: 20%; bottom: -17px;
                        width: 33.61111111111111%; height: 202px;

                        @include responsive(large-screens) {
                            position: absolute;
                            right: 24%; bottom: -35px;
                            width: 212px; height: 340px;
                        }
                    }
    
                    .tree7 {
                        position: absolute;
                        right: -3%; bottom: -25px;
                        width: 37.5%; height: 260px;

                        @include responsive(large-screens) {
                            position: absolute;
                            right: 15%; bottom: -30px;
                            width: 241px; height: 405px;
                        }
                    }

                    .tree8 {

                        @include responsive(large-screens) {
                            position: absolute;
                            right: 6%; bottom: -18px;
                            width: 249px; height: 415px;
                        }
                    }

                    .tree9 {

                        @include responsive(large-screens) {
                            position: absolute;
                            right: -4%; bottom: -20px;
                            width: 278px; height: 544px;
                        }
                    }
                }
            }
        } // moon-trees

        .contact-box {
            position: absolute;
            bottom: 0;
            width: $width-wide; height: 100px;
            background-color: #262626;
            overflow: hidden;

            @include responsive(large-screens) {
                height: 240px;
            }

            .contact-txt {
                display: flex;
                justify-content: space-between;
                align-items: center;
                height: 100px;
                color: $font-color-sub3;

                @include responsive(large-screens) {
                    height: 240px;
                }

                .contact-title {
                    font-size: 30px;

                    @include responsive(large-screens) {
                        width: 445px;
                        font-size: 75px;
                    }
                }

                .reverse-moon {
                    display: none;

                    @include responsive(large-screens) {
                        display: block;
                        margin-top: 140px;
                        width: 340px; height: 192px;
                    }

                    img {
                        border-radius: 50%;
                        box-shadow:  
                        0px 4px 20px 40px rgba(255, 255, 255, 0.1), 
                        0px 3px 30px 10px rgba(239, 202, 123, 0.25), 
                        0px 5px 27px 10px rgba(102, 167, 198, 0.25); 
                        opacity: 0.5;
                    }
                }

                .mail-thanks-box {
                    line-height: 1.7;

                    @include responsive(large-screens) {
                        width: 445px;
                    }

                    span {
                        font-size: 10px;
                        font-family: $font-sub;

                        @include responsive(large-screens) {
                            font-size: 26px;
                        }

                        a {
                            display: inline-block;
                            color: $font-color-sub3;
                        }
                    }
    
                    strong {
                        display: block;
                        font-size: 18px;
                        font-family: $font-main;

                        @include responsive(large-screens) {
                            font-size: 50px;
                            margin-top: 15px;
                        }
                    }
                }
            }
        }
    } // contact

    #top-btn {
        position: fixed;
        right: 20px; bottom: 20px;
        width: 70px; height: 70px;
        border: none;
        background: none;
        z-index: 15;
        cursor: pointer;

        @include responsive(large-screens) {
            width: 100px; 
            height: 100px;
        }

        .btn-img-txt {
            position: relative;
            width: 70px; height: 70px;

            @include responsive(large-screens) {
                width: 100px; height: 100px;
            }

            #top-img {
                width: $width-wide; height: 100%;
            }

            #top-txt {
                position: absolute;
                top: 51%; left: 48%;
                transform: translate(-51%, -48%);
                color: #FFF;
                font-size: 10px;
                font-weight: bold;
                text-shadow: 2px 2px 5px rgba(26, 26, 26, 0.2);

                @include responsive(large-screens) {
                    font-size: 14px;
                }
            }

            .moon-style {
                width: 50px; height: 50px; 
                border-radius: 50%;
                transform: scale(0.8);

                box-shadow:  
                    0px 4px 10px 20px rgba(255, 255, 255, 0.1), 
                    0px 3px 15px 5px rgba(239, 202, 123, 0.25), 
                    0px 5px 13px 5px rgba(102, 167, 198, 0.25); 

                @include responsive(large-screens) {
                    width: 70px; height: 70px;
                }
            }
        }
    }
} // footers