@mixin responsive($break) {
    @if $break == small-screens {
        @media (min-width: $break-small) {
            @content;
        }
    }
    @else if $break == medium-screens {
        @media (min-width: $break-mediunm) {
            @content;
        }
    }
    @else if $break == large-screens {
        @media (min-width: $break-large) {
            @content;
        }
    }
}

@mixin lf-move-ani{
    @keyframes lf-move {
        0% {
            transform: translateX(0); /* 현재 위치에서 시작 */
        }
        100% {
            transform: translateX(100vw); /* 화면의 너비만큼 이동 */
        }
    }
}

@mixin rt-move-ani {
    @keyframes rt-move {
        0% {
            transform: translateX(0);/* 현재 위치에서 시작 */
        }
        100% {
            transform: translateX(-100vw);/* 화면의 너비만큼 이동 */
        }
    }
}

@mixin lf-slide-ani {
    @keyframes lf-slide {
        0% {
            transform: translateX(-100%); /* 현재 위치에서 시작 */
        }
        100% {
            transform: translateX(-50%); /* 화면의 너비만큼 이동 */
        }
    }
}

@mixin rt-slide-ani {
    @keyframes rt-slide {
        0% {
            transform: translateX(100%); /* 현재 위치에서 시작 */
        }
        100% {
            transform: translateX(50%); /* 화면의 너비만큼 이동 */
        }
    }
}