@mixin responsive($break) {
    @if $break == small-screens {
        @media (min-width: $break-small) {
            @content;
        }
    }
    @else if $break == medium-screens {
        @media (min-width: $break-mediunm) {
            @content;
        }
    }
    @else if $break == large-screens {
        @media (min-width: $break-large) {
            @content;
        }
    }
}

@mixin lf-move-ani ($start: 0, $end: 100vW){
    @keyframes lf-move {
        0% {
            transform: translateX($start); 
        }
        100% {
            transform: translateX($end);
            opacity: 0;
        }
    }
}

@mixin rt-move-ani ($start: 0, $end: -100vW){
    @keyframes rt-move {
        0% {
            transform: translateX($start);
        }
        100% {
            transform: translateX($end);
            opacity: 0;
        }
    }
}

@mixin lf-slide-ani ($start: -100%, $end: -50%){
    @keyframes lf-slide {
        0% {
            transform: translateX($start); 
        }
        100% {
            transform: translateX($end); 
        }
    }
}

@mixin rt-slide-ani ($start: 100%, $end: 50%){
    @keyframes rt-slide {
        0% {
            transform: translateX($start); 
        }
        100% {
            transform: translateX($end); 
        }
    }
}