$font-color-main: #39B2C5;
$font-color-sub: #F8E7BE;
$font-color-sub2: #262626;
$font-color-sub3: #FEF3DB;

$font-main: "Gaegu";
$font-sub: "Noto Sans KR";

$intro-bg-color: #B7F5FF;

$aboutme-bg-color1: #B7F5FF;
$aboutme-bg-color2: #97F2FF;
$aboutme-bg-color3: #66A7C6;

$skill-bg-color1: #66A7C6;
$skill-bg-color2: #0E4163;
$skill-bg-color3: #3D3344;

$portfolio-bg-color1: #3D3344;
$portfolio-bg-color2: #896EA1;
$portfolio-bg-color3: #262626;


$width-wide: 100%;
$width-half: 50%;

$break-small: 360px;
$break-mediunm: 768px;
$break-large: 1440px;